@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@700&family=Playfair+Display:wght@500;700&family=Poppins:wght@100&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #03071e;
  --secondary-color: orangered;
}

html {
  scroll-behavior: smooth;
}

nav {
  max-width: 100vw;
  height: 5rem;
  line-height: 5rem;
  background: var(--primary-color);
}

nav .nav_content {
  position: relative;
  z-index: 999;
  max-width: 1300px;
  padding: 0 1rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav_content .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

nav .nav_content .logo span {
  color: #fb8500;
}

nav .nav_content input {
  display: none;
}

nav .nav_content .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

nav .nav_content .cancel-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

nav .nav_content .nav_links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

nav .nav_content .nav_links .fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fff;
}

nav .nav_content .nav_links .custom {
  background: #fb8500;
  padding: 29px 15px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

nav .nav_content .nav_links .custom:hover {
  background-color: var(--primary-color);
}

nav .nav_content .nav_links .underline {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

nav .nav_content .nav_links .underline:hover {
  border-bottom: 3px solid #fff;
  color: #fb8500;
}

nav .nav_content .nav_links li:hover .hist-drop,
nav .nav_content .nav_links li:hover .branch_drop,
nav .nav_content .nav_links li:hover .mega-box,
nav .nav_content .nav_links li:hover .more_drop {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

nav .nav_content .nav_links .mobile-item {
  display: none;
}

nav .nav_content .nav_links .branch-mobile {
  display: none;
}

nav .nav_content .nav_links .more-mobile {
  display: none;
}

nav .nav_content .nav_links .hist-drop {
  position: absolute;
  background: var(--primary-color);
  list-style: none;
  max-width: 180px;
  top: 5rem;
  line-height: 3rem;
  opacity: 0;
  visibility: hidden;
}

nav .nav_content .nav_links .hist-drop li {
  border-top: 1px solid white;
}

nav .nav_content .nav_links .hist-drop li a {
  width: 100%;
  display: block;
  padding: 0 0 0 10px;
  font-weight: 400px;
}

nav .nav_content .nav_links .hist-drop li a:hover {
  color: #fb8500;
}

nav .nav_content .nav_links .branch_drop {
  background: var(--primary-color);
  max-width: 150px;
  position: absolute;
  top: 80px;
  line-height: 45px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
}

nav .nav_content .nav_links .branch_drop li {
  border-top: 1px solid white;
}

nav .nav_content .nav_links .branch_drop li a {
  width: 100%;
  display: block;
  padding: 0 0 0 10px;
  font-weight: 400px;
}

nav .nav_content .nav_links .branch_drop li a:hover {
  color: #fb8500;
}

nav .nav_content .nav_links .more_drop {
  background: var(--primary-color);
  max-width: 150px;
  position: absolute;
  top: 80px;
  line-height: 45px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
}

nav .nav_content .nav_links .more_drop li {
  border-top: 1px solid white;
}

nav .nav_content .nav_links .more_drop li a {
  width: 100%;
  display: block;
  padding: 0 0 0 10px;
  font-weight: 400px;
}

nav .nav_content .nav_links .more_drop li a:hover {
  color: #fb8500;
}

nav .nav_content .nav_links .mega-box {
  position: absolute;
  top: 5rem;
  width: 100%;
  padding: 0 30px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
}

nav .nav_content .nav_links .mega-box .content {
  background: var(--primary-color);
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav_content .nav_links .mega-box .content .row img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .nav_content .nav_links .mega-box .content .row header {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav_content .nav_links .mega-box .content .row:nth-child(1),
nav .nav_content .nav_links .mega-box .content .row:nth-child(2) {
  border-left: 0px;
}

nav .nav_content .nav_links .mega-box .content .row {
  width: calc(33.3% - 30px);
  line-height: 45px;
}

nav .nav_content .nav_links .mega-box .content .row .mega-links {
  list-style: none;
  margin-left: -20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

nav .nav_content .nav_links .mega-box .content .row .mega-links li {
  padding: 0 20px;
}

nav .nav_content .nav_links .mega-box .content .row .mega-links li a {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500px;
  display: block;
}

nav .nav_content .nav_links .mega-box .content .row .mega-links li a:hover {
  color: #fb8500;
}

nav .nav_content .nav_links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1.5rem;
}

.banner {
  position: relative;
  max-width: 100vw;
  background: var(--primary-color);
  min-height: 40rem;
  padding: 5rem 10rem;
}

.banner .about_us_text {
  width: 100%;
  height: 100%;
  color: #fff;
  top: 0;
  left: 0;
  font-size: 0.8rem;
}

.banner .about_us_text ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Poppins" sans-serif;
  font-weight: bolder;
}

.banner .about_us_text ul .list_style {
  list-style: none;
}

.banner .about_us_text ul li {
  margin-right: 20px;
}

.banner .about_us_text ul li a {
  color: #fff;
  text-decoration: none;
}

.banner .about_us_text ul span {
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}

.banner .about_us_text h1 {
  color: #fff;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-top: 1rem;
}

.banner .family_law_container {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .family_law_container .family_caption {
  padding-top: 2rem;
  color: #fff;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  z-index: 1;
}

.banner .family_law_container .family_caption h3 {
  line-height: 3rem;
  width: 110%;
}

.banner .family_law_container .family_caption .consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .family_law_container .family_caption .consultation .consult_link {
  width: 200px;
  border-bottom: 1px solid #fb8500;
}

.banner .family_law_container .family_caption .consultation .consult_link a {
  text-decoration: none;
  font-size: 1rem;
  color: #fb8500;
  font-weight: bold;
}

.banner .family_law_container .family_caption .consultation .consult_style {
  margin-top: 3rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fb8500;
  margin-left: -1.4rem;
}

.banner .family_law_container .caption_img {
  margin-left: -5rem;
}

.mid_section {
  max-width: 100vw;
  min-height: auto;
  padding: 7rem;
}

.mid_section .mid_section_cta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 7rem;
  font-weight: bold;
  width: 100%;
  height: auto;
}

.mid_section .mid_section_cta .left_col_text h3 {
  font-size: 1.8rem;
  line-height: 1.2em;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.mid_section .mid_section_cta .left_col_text p {
  margin-top: 2rem;
  text-align: justify;
}

.mid_section .mid_section_cta .left_col_text .highlight {
  color: var(--primary-color);
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.mid_section .mid_section_cta .left_col_text .sub-note {
  text-align: justify;
  font-size: 0.9rem;
}

.mid_section .mid_section_cta .left_col_text .sub-note span {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.mid_section .mid_section_cta .left_col_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services_list {
  max-width: 100vw;
  height: 65rem;
}

.services_list .list_header {
  width: 54rem;
  margin: 0 auto;
  text-align: center;
}

.services_list .list_header h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.services_list .list_header p {
  margin-top: 1rem;
  font-weight: bold;
}

.services_list .description {
  margin-top: 5rem;
  padding-left: 3rem;
  gap: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services_list .description .buttons {
  width: 25rem;
  min-height: 43rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
  background: url(/Visions/law_stick.jfif) center/cover no-repeat;
}

.services_list .description .buttons .consultation {
  margin-top: 2rem;
  background: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services_list .description .buttons .consultation .consult_link {
  width: 200px;
  border-bottom: 1px solid #fb8500;
}

.services_list .description .buttons .consultation .consult_link a {
  text-decoration: none;
  font-size: 1rem;
  color: #fb8500;
  font-weight: bold;
}

.services_list .description .buttons .consultation .consult_style {
  margin-top: 1.4rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fb8500;
  margin-left: -1.4rem;
}

.services_list .description .buttons > div {
  width: 17rem;
  height: 3rem;
  background: #03071e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.services_list .description .more_info {
  width: 40rem;
  position: relative;
}

.services_list .description .more_info p {
  font-weight: bold;
  text-align: justify;
  font-size: 0.9rem;
}

.services_list .description .more_info ul {
  padding: 2rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.services_list .description .more_info .type_of_service {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background: var(--primary-color);
  height: 6rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.services_list .description .more_info .type_of_service h4 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2rem;
}

.services_list .description .more_info .cycle {
  position: absolute;
}

.services_list .description .more_info .cycle .grid_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.services_list .description .more_info .cycle .highlight {
  color: var(--primary-color);
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.practice_areas {
  margin-top: 10rem;
  background: #343a40;
  max-width: 100vw;
  height: 58rem;
  position: relative;
}

.practice_areas .pract_container {
  width: 100%;
  height: auto;
}

.practice_areas .pract_container .Top_Area {
  width: 100%;
  padding-top: 2rem;
}

.practice_areas .pract_container .Top_Area .Top_Area_Text {
  max-width: 55rem;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  padding-top: 30px;
}

.practice_areas .pract_container .Top_Area .Top_Area_Text h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

.practice_areas .pract_container .Top_Area .Top_Area_Text .p_text p {
  margin-top: 1rem;
}

.practice_areas .pract_container .area_container {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

.practice_areas .pract_container .area_container .content_info {
  width: 52rem;
}

.practice_areas .pract_container .area_container .content_info .content_header {
  width: 23rem;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

.practice_areas .pract_container .area_container .content_info .content_header h1 {
  width: 50%;
  cursor: pointer;
  font-size: 1rem;
}

.practice_areas .pract_container .area_container .content_info .content_header span {
  border-bottom: 3px solid grey;
  color: grey;
}

.practice_areas .pract_container .area_container .content_info .content_text {
  position: relative;
  width: 100%;
  height: 25rem;
  color: #fff;
  font-weight: bold;
}

.practice_areas .pract_container .area_container .content_info .content_text .sub_text {
  position: absolute;
  width: 100%;
}

.practice_areas .pract_container .area_container .content_info .content_text .sub_text p {
  margin-top: 20px;
}

.practice_areas .pract_container .area_container .content_info .content_text .sub_text:nth-child(2) {
  display: none;
}

.practice_areas .pract_container .area_container .content_info .content_text .sub_text:nth-child(2) .grid_container {
  height: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 120px 120px;
      grid-template-rows: 120px 120px;
}

.practice_areas .pract_container .area_container .content_info .content_text .grid_container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 250px 250px;
      grid-template-rows: 250px 250px;
  grid-gap: 1.5rem;
}

.practice_areas .pract_container .area_container .content_info .content_text .grid_container > div {
  background: #495057;
  color: #fff;
  text-align: justify;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  padding: 1.5rem;
}

.practice_areas .pract_container .area_container .content_info .content_text .grid_container > div h3 {
  font-size: 0.9rem;
}

.practice_areas .pract_container .area_container .content_info .content_text .grid_container > div p {
  font-size: 0.8rem;
}

.practice_areas .pract_container .area_container .content_info .content_text .grid_container > div .cost {
  color: #fb8500;
}

.practice_areas .pract_container .area_container .content_info .content_text ul {
  margin: 1rem 2rem;
  font-size: 0.8rem;
}

.lawyers {
  max-width: 100vw;
  min-height: auto;
  padding: 5rem 10rem;
  background: var(--primary-color);
}

.lawyers .sect_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lawyers .sect_heading .heading_text p {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #fff;
  font-size: 2rem;
  line-height: 4rem;
}

.lawyers .sect_heading .heading_text h5 {
  color: #fff;
}

.lawyers .sect_heading .heading_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lawyers .sect_heading .heading_btn .consult_link {
  width: 200px;
  border-bottom: 1px solid #fb8500;
}

.lawyers .sect_heading .heading_btn .consult_link a {
  text-decoration: none;
  font-size: 1rem;
  color: #fb8500;
  font-weight: bold;
}

.lawyers .sect_heading .heading_btn .consult_style {
  margin-top: 1.2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fb8500;
  margin-left: -1.4rem;
}

.lawyers .lawyers_info {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.lawyers .lawyers_info .associates_info_cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner {
  width: 50%;
  padding-top: 0.8rem;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name {
  width: 100%;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .name {
  text-align: center;
  color: var(--primary-color);
  font-family: "Playfair Display", serif;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .inner_icons {
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30%;
  margin-top: 0.5rem;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .inner_icons .phone_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fb8500;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 0.8rem;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .inner_icons .phone_icon .fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fff;
  text-shadow: -1px 0 #fb8500, 0 1px #fb8500, 1px 0 #fb8500, 0 -1px #fb8500;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .inner_icons .plus_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fb8500;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0.8rem;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .inner_icons .plus_icon .fa-plus {
  color: #fb8500;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .license {
  text-align: center;
  font-size: 0.9rem;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .license p {
  font-weight: bold;
  font-size: 0.7rem;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .primary_office {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}

.lawyers .lawyers_info .associates_info_cta .associates_info_inner .associate_name .primary_office p {
  font-weight: bold;
  font-size: 0.7rem;
}

.lawyers .lawyers_info > div {
  width: 500px;
  height: 250px;
  background: #fff;
}

.lawyers .lawyers_info > div img {
  width: 50%;
}

.call_back {
  max-width: 100vw;
  position: relative;
  height: 20rem;
  background: url(/Visions/call.jpg) center/cover no-repeat;
  background-attachment: fixed;
}

.call_back .overlay_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
}

.call_back .overlay_container .overlay_text {
  max-width: 40rem;
  margin: 0 auto;
}

.call_back .overlay_container .overlay_text h1 {
  font-size: 2.5rem;
  line-height: 5rem;
  color: whitesmoke;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.call_back .overlay_container .overlay_text h2 {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}

.call_back .overlay_container .overlay_text .overlay_btn {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call_back .overlay_container .overlay_text .overlay_btn button {
  width: 20rem;
  height: 4rem;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1rem;
}

.form_section {
  max-width: 100vw;
  padding: 7rem 10rem;
}

.form_section .form_cta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5.5rem;
}

.form_section .form_cta .form_text {
  width: 100%;
}

.form_section .form_cta .form_text p {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.form_section .form_cta .form_text .form_btn_cta {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_section .form_cta .form_text .form_btn_cta .form_btn {
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_section .form_cta .form_text .form_btn_cta .form_btn .consult_link {
  width: 150px;
  border-bottom: 1px solid #fb8500;
}

.form_section .form_cta .form_text .form_btn_cta .form_btn .consult_link a {
  text-decoration: none;
  font-size: 1rem;
  color: #fb8500;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.form_section .form_cta .form_text .form_btn_cta .form_btn .consult_style {
  margin-top: 1.9rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fb8500;
  margin-left: -1.4rem;
}

.form_section .form_cta .form_form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  height: 2.5rem;
  padding-left: 0.5rem;
  color: #fff;
  background: #1d213d;
}

.form_section .form_cta .form_form #message {
  width: 100%;
  padding: 0.5rem;
  background: #1d213d;
  color: #fff;
}

.form_section .form_cta .form_form button {
  float: right;
  cursor: pointer;
  width: 5rem;
  height: 3rem;
  color: #fff;
  background: #1d213d;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  border: none;
}

.form_section .form_cta .form_form ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form_section .form_cta .form_form :-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form_section .form_cta .form_form ::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form_section .form_cta .form_form ::placeholder {
  color: #fff;
  opacity: 1;
}

.footer {
  max-width: 100vw;
  min-height: 40rem;
  background: var(--primary-color);
  position: relative;
}

.footer .top_footer {
  width: 100%;
  height: 5rem;
  background: #1d213d;
}

.footer .footer_style {
  width: 90%;
  height: 3rem;
  background: #1d213d;
  position: absolute;
  left: 5%;
}

.footer .footer_content {
  width: 100%;
  padding: 9rem 4rem;
  color: #fff;
}

.footer .footer_content .footer_nav {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .footer_content .footer_nav header {
  font-family: "Abril Fatface", cursive;
}

.footer .footer_content .footer_nav .quick_links {
  line-height: 2rem;
}

.footer .footer_content .footer_nav .social_follow {
  line-height: 2rem;
}

.footer .footer_content .footer_nav .practice_shortcut {
  line-height: 2rem;
}

.footer .footer_content .footer_nav ul {
  list-style: none;
}

.footer .footer_content .footer_nav ul li a {
  color: #fefefe;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
}

.footer .footer_content .office_address {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2rem;
}

.footer .footer_content .office_address p {
  max-inline-size: 12rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.footer .footer_content .office_address h3 {
  font-weight: bold;
  font-size: 0.8rem;
}

.footer .footer_content .office_address header {
  font-family: "Abril Fatface", cursive;
}

.footer .footer_content .office_address .branch_office {
  margin-left: 7rem;
}

.footer .terms_of_use {
  width: 100%;
  padding: 0 4rem;
  font-family: "Poppins" sans-serif;
}

.footer .terms_of_use .terms_links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .terms_of_use .terms_links span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.3rem;
}

.footer .terms_of_use .terms_links li {
  list-style: none;
  padding-right: 20px;
}

.footer .terms_of_use .terms_links li a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
}

.footer .terms_of_use .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .terms_of_use .productamp {
  color: #fff;
}

.footer .terms_of_use h3 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.7rem;
}

.footer .terms_of_use .terms_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem 0;
}

@media screen and (max-width: 1280px) {
  .services_list {
    max-width: 100vw;
    padding: 2rem;
  }
  .services_list .list_header {
    width: 80%;
  }
  .services_list .description {
    margin-top: 5rem;
    padding: 0;
    gap: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .footer_content .office_address .branch_office {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    width: 100%;
  }
  nav .nav_content .btn {
    display: block;
  }
  nav .nav_content #menu-btn:checked ~ .nav_links {
    left: 0%;
  }
  nav .nav_content #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  nav .nav_content .nav_links {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 350px;
    background: var(--primary-color);
    display: block;
    top: 0;
    left: -100%;
    overflow-y: auto;
    line-height: 50px;
    padding: 50px 10px;
    -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav .nav_content .nav_links .more-desktop {
    border-right: none;
    padding: 0 20px;
    display: block;
    font-size: 16px;
  }
  nav .nav_content .nav_links li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-style: solid;
    margin: 15px 10px;
  }
  nav .nav_content .nav_links li a {
    padding: 0 20px;
    display: block;
    font-size: 16px;
  }
  nav .nav_content .nav_links .custom {
    width: 100%;
    padding: 0 20px;
    border: none;
  }
  nav .nav_content .nav_links .custom .underline:hover {
    border-bottom: 3px solid #fff;
    color: #fb8500;
  }
  nav .nav_content .nav_links .underline:hover {
    border-bottom: none;
    color: #fb8500;
  }
  nav .nav_content .nav_links ::-webkit-scrollbar {
    width: 0px;
  }
  nav .nav_content .nav_links .branch_drop {
    position: static;
    opacity: 1;
    visibility: visible;
    padding-left: 20px;
    top: 65px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav .nav_content .nav_links .branch_drop li {
    margin: 0px;
  }
  nav .nav_content .nav_links .branch_drop li a {
    font-size: 14px;
    font-weight: bold;
  }
  nav .nav_content .nav_links .hist-drop {
    position: static;
    opacity: 1;
    visibility: visible;
    padding-left: 20px;
    top: 65px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav .nav_content .nav_links .hist-drop li {
    margin: 0px;
  }
  nav .nav_content .nav_links .hist-drop li a {
    font-size: 14px;
  }
  nav .nav_content .nav_links .mega-box {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav .nav_content .nav_links .mega-box .content {
    background: var(--primary-color);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  nav .nav_content .nav_links .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
  }
  nav .nav_content .nav_links .mega-box .content .row .mega-links {
    border-left: 0px;
    padding-left: 0;
    width: 350px;
  }
  nav .nav_content .nav_links .mega-box .content .row .mega-links li {
    margin: 0 20px;
    padding-left: 0;
  }
  nav .nav_content .nav_links .mega-box .content .row:nth-child(1),
  nav .nav_content .nav_links .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  nav .nav_content .nav_links .more_drop {
    position: static;
    opacity: 1;
    visibility: visible;
    padding-left: 20px;
    top: 65px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav .nav_content .nav_links .more_drop li {
    margin: 0px;
  }
  nav .nav_content .nav_links .more_drop li a {
    font-size: 14px;
    font-weight: bold;
  }
  nav .nav_content .nav_links #showDrop:checked ~ .hist-drop,
  nav .nav_content .nav_links #showBranch:checked ~ .branch_drop,
  nav .nav_content .nav_links #showMega:checked ~ .mega-box,
  nav .nav_content .nav_links #showMore:checked ~ .more_drop {
    max-height: 100%;
  }
  nav .nav_content .nav_links .branch-desktop {
    display: none;
  }
  nav .nav_content .nav_links .desktop-item {
    display: none;
  }
  nav .nav_content .nav_links .more-desktop {
    display: none;
  }
  nav .nav_content .nav_links .branch-mobile {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav .nav_content .nav_links .branch-mobile:hover {
    color: #fb8500;
  }
  nav .nav_content .nav_links .mobile-item {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav .nav_content .nav_links .mobile-item:hover {
    color: #fb8500;
  }
  nav .nav_content .nav_links .more-mobile {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  nav .nav_content .nav_links .more-mobile:hover {
    color: #fb8500;
  }
  nav .nav_content input {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    min-height: auto;
    padding: 8rem 3rem;
  }
  .banner .family_law_container {
    height: 100%;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  .banner .family_law_container .family_caption h3 {
    width: auto;
  }
  .banner .family_law_container .family_caption .consultation {
    position: absolute;
    bottom: -3em;
  }
  .banner .family_law_container .caption_img {
    margin-top: -4rem;
    margin-left: unset;
    width: 100%;
  }
  .banner .family_law_container .caption_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mid_section {
    padding: 5rem;
  }
  .mid_section .mid_section_cta .right_col .right_col_img {
    margin-top: 3rem;
  }
  .lawyers {
    padding: 5rem 2rem;
  }
  .lawyers .sect_heading .heading_text p {
    font-size: 1.5rem;
  }
  .form_section {
    padding: 7rem 3rem;
  }
  .footer .footer_content .office_address {
    margin-top: 3rem;
  }
  .footer .footer_content .office_address .branch_office {
    margin-left: 16rem;
  }
}

@media screen and (max-width: 970px) {
  .footer .footer_content .office_address .branch_office {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 912px) {
  .lawyers .sect_heading .heading_text p {
    font-size: 1.2rem;
  }
  .form_section {
    padding: 3rem 5rem;
  }
  .form_section .form_cta {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .form_section .form_cta .form_text .form_btn_cta {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 820px) {
  .mid_section {
    padding: 5rem 2rem;
  }
  .mid_section .mid_section_cta {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: unset;
  }
  .mid_section .mid_section_cta .left_col_text {
    margin-top: 3rem;
  }
  .mid_section .mid_section_cta .right_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mid_section .mid_section_cta .right_col .right_col_text {
    margin-top: 3rem;
  }
  .practice_areas .pract_container .area_container .content_info {
    width: 100%;
  }
  .practice_areas .pract_container .area_container .content_info .content_header {
    width: 40%;
    margin: 0 auto;
  }
  .practice_areas .pract_container .area_container .content_info .content_text {
    width: 90%;
    margin: 0 auto;
  }
  .practice_areas .pract_container .area_container .content_info .content_text .grid_container {
    grid-gap: 1rem;
  }
  .practice_areas .pract_container .area_container .content_info .content_text .sub_text:nth-child(2) .grid_container > div {
    padding: 2rem 0.5rem;
  }
  .services_list .description .more_info .type_of_service h4 {
    font-size: 1.7rem;
  }
  .footer .footer_content .office_address {
    margin-top: 3rem;
  }
  .footer .footer_content .office_address .branch_office {
    margin-left: 9.5rem;
  }
}

@media screen and (max-width: 768px) {
  .practice_areas .pract_container .area_container .content_info {
    width: 100%;
  }
  .practice_areas .pract_container .area_container .content_info .content_header {
    width: 50%;
  }
  .practice_areas .pract_container .area_container .content_info .content_text {
    width: 90%;
    margin: 0 auto;
  }
  .practice_areas .pract_container .area_container .content_info .content_text .grid_container {
    grid-gap: 1rem;
  }
  .practice_areas .pract_container .area_container .content_info .content_text .sub_text:nth-child(2) .grid_container > div {
    padding: 2rem 0.5rem;
  }
  .footer .footer_content .office_address {
    margin-top: 3rem;
  }
  .footer .footer_content .office_address .branch_office {
    margin-left: 8rem;
  }
}

@media screen and (max-width: 560px) {
  .banner .family_law_container .family_caption h3 {
    font-size: 1.8rem;
    line-height: 1.2em;
  }
  .services_list {
    height: 90rem;
  }
  .services_list .list_header {
    width: 100%;
  }
  .services_list .description {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services_list .description .more_info {
    width: auto;
  }
  .services_list .description .buttons {
    width: auto;
    margin-bottom: 2rem;
  }
  .practice_areas {
    height: 100rem;
  }
  .practice_areas .pract_container .area_container .content_info {
    width: 100%;
  }
  .practice_areas .pract_container .area_container .content_info .content_header {
    width: 19rem;
    margin-left: 6.5rem;
  }
  .practice_areas .pract_container .area_container .content_info .content_header h1 {
    font-size: 0.9rem;
  }
  .practice_areas .pract_container .area_container .content_info .content_text {
    width: 90%;
    margin: 0 auto;
    height: 180rem;
  }
  .practice_areas .pract_container .area_container .content_info .content_text .grid_container {
    grid-gap: 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 250px 250px 250px 250px;
        grid-template-rows: 250px 250px 250px 250px;
  }
  .practice_areas .pract_container .area_container .content_info .content_text .sub_text:nth-child(2) .grid_container {
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .practice_areas .pract_container .area_container .content_info .content_text .sub_text:nth-child(2) .grid_container > div {
    padding: 2rem;
  }
  .lawyers {
    position: relative;
    padding-bottom: 8rem;
  }
  .lawyers .sect_heading {
    display: block;
  }
  .lawyers .sect_heading .heading_text p {
    line-height: 1.2rem;
  }
  .lawyers .sect_heading .heading_text h5 {
    margin-top: 1rem;
  }
  .lawyers .sect_heading .heading_btn {
    position: absolute;
    bottom: 3rem;
  }
  .lawyers .lawyers_info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .call_back .overlay_container .overlay_text {
    padding: 1rem;
  }
  .call_back .overlay_container .overlay_text h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .call_back .overlay_container .overlay_text h2 {
    font-size: 1rem;
  }
  .form_section {
    padding: 2rem 1rem;
  }
  .footer .footer_content {
    padding: 9rem 2rem;
  }
  .footer .footer_content .footer_nav {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .footer .footer_content .office_address {
    margin-top: 2rem;
  }
  .footer .footer_content .office_address .branch_office {
    margin-left: 3rem;
  }
  .footer .terms_of_use {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 540px) {
  .banner {
    padding: 8rem 1.7rem;
  }
  .footer .footer_content .office_address {
    margin-top: 3rem;
  }
  .footer .footer_content .office_address .branch_office {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 414px) {
  .banner .family_law_container .family_caption h3 {
    font-size: 1.5rem;
    line-height: 1.2em;
  }
  .services_list .description .more_info .type_of_service {
    padding-left: 1rem;
  }
  .services_list .description .more_info .type_of_service h4 {
    font-size: 1.2rem;
  }
  .practice_areas
.pract_container
.area_container
.content_info
.content_header {
    padding-left: 1.5rem;
    width: 90%;
    margin: 0 auto;
    gap: 0.5rem;
  }
  .form_section {
    padding: 2rem 1rem;
  }
  .form_section .form_cta .form_text .form_btn_cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .footer_content {
    padding: 9rem 1.2rem;
  }
  .footer .footer_content .office_address .branch_office {
    margin-left: 2rem;
  }
  .footer .terms_of_use {
    padding: 0 1rem;
  }
  .footer .terms_of_use .product h3 {
    max-inline-size: 9rem;
  }
}

@media screen and (max-width: 393px) {
  .services_list {
    height: 85rem;
  }
  .practice_areas
.pract_container
.area_container
.content_info
.content_header {
    width: 95%;
  }
}
/*# sourceMappingURL=business mediation.css.map */